@import 'modern-normalize/modern-normalize.css';

:root {
    font-size: 62.5%;

    --gameboard-size: 47rem;;
}

body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#start-button, #restart {
    border: none;
    padding: 1rem;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    padding: 1rem;
    grid-area: 1 / 2 / 2 / 3;
}

.header-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.header-text {
    font-size: 1.5rem;
}

#game {
    grid-area: 2 / 2 / 3 / 3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

form {
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 1fr 2fr;
    align-self: center;
    width: 50%;
    gap: 0.25rem 0;
}

#start-button {
    grid-column: 1 / 3;
    font-size: 2rem;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: calc(var(--gameboard-size) / 4);
    overflow: hidden;
    height: var(--gameboard-size);
    width: var(--gameboard-size);
}

#gameboard > * {
    background-color: black;
    border: 5px solid white;
    min-height: calc(var(--gameboard-size) / 3);
    max-height: calc((var(--gameboard-size) / 3));
}

#gameboard button:nth-child(1) {
    border-top: none;
    border-left: none;
}

#gameboard button:nth-child(2) {
    border-top: none;
}

#gameboard button:nth-child(3) {
    border-top: none;
    border-right: none;
}

#gameboard button:nth-child(4) {
    border-left: none;
}

#gameboard button:nth-child(6) {
    border-right: none;
}

#gameboard button:nth-child(7) {
    border-bottom: none;
    border-left: none;
}

#gameboard button:nth-child(8) {
    border-bottom: none;
}

#gameboard button:nth-child(9) {
    border-right: none;
    border-bottom: none;
}

.red {
    color: red;
}

.blue {
    color: cyan;
}

#restart {
    align-self: center;
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

aside {
    font-size: 3rem;
    visibility: hidden;
}

#player1, #player2 {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 1.5rem;
}

#results {
    margin-top: 1rem;
    font-size: 3rem;
}