@import 'modern-normalize/modern-normalize.css';

:root {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
}
#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 75vh;
    width: 75vh;
}

#gameboard > * {
    border: 3px solid white;
}