@import 'modern-normalize/modern-normalize.css';

:root {
    font-size: 62.5%;

    --gameboard-size: 60rem;;
}

body {
    background-color: black;
    color: white;
}
#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: calc(var(--gameboard-size) / 4);
    overflow: hidden;
    height: var(--gameboard-size);
    width: var(--gameboard-size);
}

#gameboard > * {
    border: 3px solid white;
    min-height: calc(var(--gameboard-size) / 3);
    max-height: calc((var(--gameboard-size) / 3));
}